{% extends 'base.html' %}

{% load static %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <h2 class="glow">Welcome to NotTODO App</h2>
        <p>This is your home page. Navigate using the left side menu.</p>
    </div>
</div>

<!-- Carousel -->
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="honeycomb-cell">
        <img src="{% static 'images/slide1.jpg' %}" alt="First slide">
      </div>
    </div>
    <div class="carousel-item">
      <div class="honeycomb-cell">
        <img src="{% static 'images/slide2.jpg' %}" alt="Second slide">
      </div>
    </div>
    <div class="carousel-item">
      <div class="honeycomb-cell">
        <img src="{% static 'images/slide3.jpg' %}" alt="Third slide">
      </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<script src="https://sf-cdn.coze.com/obj/unpkg-va/flow-platform/chat-app-sdk/0.1.0-beta.4/libs/oversea/index.js"></script>
<script>
    new CozeWebSDK.WebChatClient({
      config: {
        bot_id: '7390779961479151622',
      },
      componentProps: {
        title: 'JEPA CHAT GPT ',
      },
    });
</script>
{% endblock %}
